@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}


@theme {
  --font-custom: "Inter", sans-serif;

}


@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility tap-highlight-none {
  -webkit-tap-highlight-color: transparent;
}


@layer components {
  .toggle-bar-active:nth-child(1) {
    background: red;
    transform: rotate(45deg) translate(2.5px, 2.8px);
  }

  .toggle-bar-active:nth-child(2) {
    background: red;
    transform: rotate(-45deg) translate(2.5px, -2.8px);
  }


}