@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}


@font-face {
  font-family: "Utara";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Utara-Regular.ttf") format("truetype");
}


@theme {
  --font-custom: "Inter", sans-serif;
  --font-custom-2: "Space Mono", monospace;
  --font-custom-3: "Geist", sans-serif;
  --font-custom-4 : "Utara";

  --shadow-custom: 0px 4px 1px 0px #ffffffac, 0px 4px 4px -1px #ffffffe0 inset;
  --inset-shadow-custom-1: 0px 1.5px 1px -1px #00000010 inset;


  --animate-fadeIn: fadeIn 1s ease both;

  @keyframes fadeIn {

    0% {
      transform: translateX(40px);
      opacity: 0;

    }

    100% {
      transform: translateX(0);
      opacity: 1
    }


  }
}


@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility tap-highlight-none {
  -webkit-tap-highlight-color: transparent;
}

@utility blur-bg-1 {
  -webkit-backdrop-filter: blur(5px) saturate(10%);
}


@layer components {
  .toggle-bar-active:nth-child(1) {
    background: red;
    transform: rotate(45deg) translate(2.5px, 3px);
  }

  .toggle-bar-active:nth-child(2) {
    background: red;
    transform: rotate(-45deg) translate(2.5px, -3px);
  }


  .tog-ac:nth-child(1) {
    transform: rotate(45deg) translate(2.5px, 4px);
  }

  .tog-ac:nth-child(2) {
    transform: rotate(-45deg) translate(2.5px, -4px);
  }


  .bg-ac {
    @apply bg-primary;
  }




  @keyframes orbit {
    0% {
      transform: rotate(0)
    }

    to {
      transform: rotate(360deg)
    }
  }

  @keyframes orbit-reverse {
    0% {
      transform: rotate(360deg)
    }

    to {
      transform: rotate(0)
    }
  }

  .animate-orbit-slow {
    animation: 60s linear infinite orbit
  }

  .animate-orbit-counter-slow {
    animation: 60s linear infinite orbit-reverse
  }

  .animate-orbit-mid {
    animation: 80s linear infinite orbit-reverse
  }

  .animate-orbit-counter-mid {
    animation: 80s linear infinite orbit
  }

  .animate-orbit-fast {
    animation: 100s linear infinite orbit
  }

  .animate-orbit-counter-fast {
    animation: 100s linear infinite orbit-reverse
  }




  @keyframes circle {

    0% {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }

  }


  @keyframes circle-reverse {

    0% {
      transform: rotate(360deg);
    }

    to {
      transform: rotate(0);
    }

  }


  .animate-circle-slow {
    animation: 50s linear infinite circle;
  }

  .animate-circle-content-slow {
    animation: 50s linear infinite circle-reverse;
  }


  .animate-circle-mid {
    animation: 70s linear infinite circle-reverse;
  }

  .animate-circle-content-mid {
    animation: 70s linear infinite circle;
  }

  .animate-circle-fast {
    animation: 90s linear infinite circle;
  }

  .animate-circle-content-fast {
    animation: 90s linear infinite circle-reverse;
  }


  .squircle{
    corner-shape: squircle;
  }



}